@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: white;
  --black: black;
  --link-clr: #eaecf0;
  --link-hover: #d0d5dd;
  --error-clr: #5925dc;
  --transition-primary: all 0.2s ease-in;
}
a{
  text-decoration: none;
}
body {
  font-family: inter, 'sans-serif';
}
.main{
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0 1rem;
}
.container {
  border: 2px solid var(--black);
}
.container h1 {
  font-size: 2.5rem;
  text-align: center;
}
.value {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  width: 150px;
  display: block;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius:5px ;
}
::-webkit-inner-spin-button{
  display: none;
}

.count-btns button {
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  margin: 1rem;
  border-radius: 5px;
  font-family: inter, 'sans-serif';
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid black;

  cursor: pointer;
  transition:all 0.2s linear ;
}
.count-btns button:hover {
  background-color: black;
  color: white;
}
.error-page {
  padding: 5rem 1.5rem 0;
}
.height{
  min-height: 60vh;
  
}
.error404 {
  color: var(--error-clr);
  font-weight: 600;
  font-size: 2rem;
}
.lg-text {
  font-size: 3rem;
  font-weight: 700;
  margin-block: 1rem;
}
.normal-text {
  font-size: 1.2rem;
}
.home-btn {
  background-color: var(--error-clr);
  color: var(--white);
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin-block: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.back-btn {
  border: 1px solid var(--link-clr);
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin-block: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--black);
}
.nav-btn {
  position: absolute;
  top: 100px;
 /* left: 0; */
  padding: 0.7rem 1rem;
  text-align: center;
  border-radius: 10px;
  margin-block: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.nav-btn a {
  color: var(--black);
}
.reducer {
  background-color: steelblue;
}
@media screen and (min-width: 768px) {
  .error-page{
    padding: 5rem 10rem;
  }
  .home-btn{
    display: inline-block;
  }
  .back-btn{
    display: inline-block;
    margin-left: 2rem;
    text-align: center;
  }
  .flex-1{
    display: flex;
    flex-direction: reverse;
    gap: 1rem;
  }
}